.dropdownBtn{
  font-size: 1.25em;
  width: 20%;
  text-align: left;
}
.caret {
  margin-left: 30% !important;
}

.dropdown-menu {
  width: 20%;
}

.listItem {
  font-size: 1.25em;
  font-weight: lighter;
  padding: 2%;
}
