.App-header {
  display: flex;
  color: white;
  border-width: thick;
  border-color: black;
  justify-content: space-between;
  margin: 3% 5%;
}
.plus-symbol {
  padding:0.5%;
}
.App-title {
  font-size: 2em;
  color: black;
  margin: 0px;
}
.newContestButton, .newContestButton:hover, .newContestButton:enabled {
  font-size: 1.2em;
  padding: 1%;
  background-color: #4e3a9e;
  color: white;
}
.dropdownMenu {
  background-color: white;
  margin: 0% 5%;
  border-radius: 1%;
}
